.single_card_container {
    padding: 20px;
    margin: 5px auto;
}

.card_container {
    border: 1px solid #777;
    overflow-wrap: break-word;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px 5px;
    font-size: 32px;
    height: 250px;
}

.card_container h3 {
    margin: 0;
}

.button_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button_container > div {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 22px;
    width: 22%;
    background-color: #fff;
}